<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>offButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,748},{718,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,172}}</string>
                <key>sourceSize</key>
                <string>{718,172}</string>
            </dict>
            <key>offCollected.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,574},{718,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,172}}</string>
                <key>sourceSize</key>
                <string>{718,172}</string>
            </dict>
            <key>offPaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{570,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,512}}</string>
                <key>sourceSize</key>
                <string>{570,512}</string>
            </dict>
            <key>onButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{718,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,172}}</string>
                <key>sourceSize</key>
                <string>{718,172}</string>
            </dict>
            <key>onCollected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{718,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,172}}</string>
                <key>sourceSize</key>
                <string>{718,172}</string>
            </dict>
            <key>onPaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{570,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,512}}</string>
                <key>sourceSize</key>
                <string>{570,512}</string>
            </dict>
            <key>scoreBoardBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,512}}</string>
                <key>sourceSize</key>
                <string>{570,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Buttons.png</string>
            <key>size</key>
            <string>{1544,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f993d5fee9b242f71a55f2a84255d74:cd60c8ab36872e660625dadc434f361c:49b6939ab344b99a0a11fe0530bc9ec0$</string>
            <key>textureFileName</key>
            <string>Buttons.png</string>
        </dict>
    </dict>
</plist>
