<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>offButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,516},{718,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,172}}</string>
                <key>sourceSize</key>
                <string>{718,172}</string>
            </dict>
            <key>offPaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{570,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,512}}</string>
                <key>sourceSize</key>
                <string>{570,512}</string>
            </dict>
            <key>onButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{718,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,172}}</string>
                <key>sourceSize</key>
                <string>{718,172}</string>
            </dict>
            <key>onPaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{570,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,512}}</string>
                <key>sourceSize</key>
                <string>{570,512}</string>
            </dict>
            <key>scoreBoardBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,512}}</string>
                <key>sourceSize</key>
                <string>{570,512}</string>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Buttons.png</string>
            <key>size</key>
            <string>{1950,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0662717c8ad733dfcfe45a1cc4f878a:507b13c8016c43ff9ccf9366deff9b71:49b6939ab344b99a0a11fe0530bc9ec0$</string>
            <key>textureFileName</key>
            <string>Buttons.png</string>
        </dict>
    </dict>
</plist>
